<div class="restaurant" id="dongcheuk">
    <p> [Set menu]</p>
        <ul>
            <li>잡곡밥</li>
            <li>물만둣국</li>
            <li>미트볼칠리볶음(자율배식)</li>
            <li>돈육잡채</li>
            <li>브로컬리숙회</li>
            <li>배추김치</li>
        </ul>

    <p> [Chef choice] </p>
        <ul> T/O 치킨 </ul>

    <p> [Hot Bowl] </p>
        <ul> 치킨마요덮밥 4,000 </ul>

    <p> [Noodle/International] </p>
        <ul> 고기짬뽕 4,000 </ul>

    <p> [Take out] </p>
        <ul> 제육김치컵밥/스팸김치컵밥/건강식샐러드 </ul>
</div>
<div class="restaurant" id="seocheuk">
    <p> 한식 </p>
        <ul>
            <li> 쌀밥 </li>
            <li> 아욱된장국 </li>
            <li> 버섯제육볶음 </li>
            <li> 시래기떡볶이 </li>
            <li> 시금치겉절이 </li>
            <li> 포기김치 </li>
        </ul>
    <p> 일품 </p>
        <ul>
            <li> 날치알김치볶음밥 </li>
            <li> 아욱된장국 </li>
            <li> 콩나물무침 </li>
            <li> 케이준치킨샐러드 </li>
            <li> 깍두기 </li>
        </ul>
</div>
<div class="restaurant" id="kama">
    <p> 카페테리아 </p>
        <ul>
            <li> 쌀밥 & 잡곡밥 </li>
            <li> 얼갈이배추된장국 </li>
            <li> 닭살마늘종볶음 </li>
            <li> 스테이크파프리카볶음 </li>
            <li> 계란찜 </li>
            <li> 볼어묵브로콜리볶음 </li>
            <li> 동태무조림 </li>
            <li> 오이무침 </li>
            <li> 고추지무침 </li>
            <li> 도시락김 </li>
            <li> 김치 </li>
            <li> 양배추샐러드 </li>
            <li> 황도 </li>
        </ul>
    <p> 일품메뉴 </p>
        <ul> 돈육김치볶음밥 & 계란후라이 & 우동국물 </ul>
</div>